@import 'style.css';

.accordian__wrapper {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 45%;
  padding: 2%;
  border-radius: 30px;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.accordian__wrapper p {
  margin-left: 0;
  font-size: 1.1vw;
}

.answer {
  display: none;
}

.active .answer {
  display: block;
  padding-bottom: 1%;
  transition: all 0.4s ease-in;
}

.question h3 {
  font-weight: 500;
  font-size: 1.2vw;
}

.active h3 {
  font-weight: 600;
}

.accordian-questions {
  height: 100%;
  display: flex;
  flex-direction: column;
}


.questions-answer {
  width: 100%;
  border-bottom: 1px solid #e8e8ea;
  font-size: 0.8vw;
}

.accordian__name {
  font-size: 2vw;
  margin-bottom: 4%;
}

.questions-answer .question {
  margin: 0.8vw 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.questions-answer .question img {
  align-self: center;
  transition: all 0.5s ease-in;
}

.active img {
  transform: rotate(180deg);
  transition: all 0.4s ease-in;
}

.accordian-and-img .faq__img {
  width: 30%;
  position: absolute;
  top: 48%;
  right: 10%;
  animation: floating 8s ease-in-out infinite;
}

.contact-container {
  margin-top: 8vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  translate-y: 5vh;
}

.contact-container h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4vw;
  letter-spacing: 1.5px;
  margin: 7vh;
}

.contact-container section {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 80%;
  justify-content: space-between;
  padding-bottom: 8vh;
}

.contact-container section img {
  width: 4.5vw;
  margin-bottom: 1.5vh;
}

.contact-container section h5 {
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
}

.contact-container section a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

.contact-container article {
  transition: 0.4s;
}

.contact-container article:hover {
  transform: scale(1.08);
  transition: 0.4s;
}
